<section class="dashboard">
  <div class="dashboard__container">
    <div class="discover">
      <h1 class="discover__title">Discover World</h1>

      <div class="discover__nav">
        <nav class="subnav" title="">
          <ul class="list-reset subnav__list flex-v-center">
            <li class="subnav__item"><a href="#" class="subnav__link">Recommended</a></li>
            <li class="subnav__item"><a href="#" class="subnav__link">Popular Places</a></li>
            <li class="subnav__item"><a href="#" class="subnav__link">Trip&rsquo;s</a></li>
          </ul>
        </nav>
      </div>

      <div class="cards">
        <ul class="list-reset cards__list flex">
          <li class="discover__item">
            <div class="card">
              <div class="discover__link discover__link--moonlight">
                <div class="card__top">
                  <img src="img/moonlight.png" alt="Moonlight picture" width="241" height="322" class="card__image card__image">

                  <button class="card__favourites flex-all-center">
                    <svg class="card__like-icon">
                      <use xlink:href="img/sprite.svg#card-heart"></use>
                    </svg>
                  </button>

                  <h2 class="card__title">Moonlight Night</h2>
                </div>

                <div class="card__bottom flex-v-center">
                  <span class="card__info card__info--country">Canada</span>
                  <span class="card__info card__info--rating">4.7</span>
                </div>
              </div>
            </div>
          </li>

          <li class="discover__item">
            <div class="card">
              <div class="discover__link">
                <div class="card__top">
                  <img src="img/discover-2.png" alt="Sahara desert picture" width="241" height="322" class="card__image">

                  <button class="card__favourites flex-all-center">
                    <svg class="card__like-icon">
                      <use xlink:href="img/sprite.svg#card-heart"></use>
                    </svg>
                  </button>

                  <h2 class="card__title">Sahara Desert</h2>
                </div>

                <div class="card__bottom flex-v-center">
                  <span class="card__info card__info--country">Africa</span>
                  <span class="card__info card__info--rating">4.9</span>
                </div>
              </div>
            </div>
          </li>

          <li class="discover__item">
            <div class="card">
              <div class="discover__link">
                <div class="card__top">
                  <img src="img/discover-3.png" alt="Night camping picture" width="241" height="322" class="card__image">

                  <button class="card__favourites flex-all-center">
                    <svg class="card__like-icon">
                      <use xlink:href="img/sprite.svg#card-heart"></use>
                    </svg>
                  </button>

                  <h2 class="card__title">Night Camping</h2>
                </div>

                <div class="card__bottom flex-v-center">
                  <span class="card__info card__info--country">New York</span>
                  <span class="card__info card__info--rating">5.0</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
