<section class="event-dates">
  <div class="event-dates__container">
    <div class="event-dates__top flex">
      <h2 class="event-dates__title">Event Dates</h2>
      <button class="btn btn--stroke event-dates__btn">January 15-2022</button>
    </div>

    <div class="calendar">
      <ul class="list-reset calendar__list flex-v-center">
        <li class="calendar__item">
          <span class="calendar__day">Mo</span>
          <span class="calendar__num">12</span>
        </li>

        <li class="calendar__item calendar__item--active">
          <span class="calendar__day">Tu</span>
          <span class="calendar__num">13</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">We</span>
          <span class="calendar__num">14</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">Th</span>
          <span class="calendar__num">15</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">Fr</span>
          <span class="calendar__num">16</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">St</span>
          <span class="calendar__num">17</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">Su</span>
          <span class="calendar__num">18</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">Mo</span>
          <span class="calendar__num">19</span>
        </li>

        <li class="calendar__item">
          <span class="calendar__day">Tu</span>
          <span class="calendar__num">20</span>
        </li>
      </ul>
    </div>

    <div class="gallery flex-v-center">
      <div class="gallery__item gallery__item--active flex-v-center">
        <img class="gallery__image gallery__image--active" src="img/gallery-1.png" alt="Sunset in the forest" width="78" height="74">

        <div class="gallery__info">
          <h3 class="gallery__subtitle">Netherlands Travel Tour</h3>
          <span class="gallery__rating">4.7</span>
        </div>

        <button class="gallery__btn">
          <svg class="flex-all-center">
            <use xlink:href="img/sprite.svg#gallery-button-lines"></use>
          </svg>
        </button>
      </div>

      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery-2.png" alt="Sunset in the rainforest" width="118" height="119">
      </div>

      <div class="gallery__item">
        <img class="gallery__image" src="img/gallery-3.png" alt="A man who went on a mountain hike" width="118" height="119">
      </div>
    </div>
  </div>
</section>
