<header class="header">
  <div class="container header__container flex">
    <a class="header__logo">
      <img src="img/logo.svg" alt="Dotpixel Agency Logo">
    </a>

    <div class="header__search">
      <input type="text" placeholder="Search for places" class="header__input">
    </div>

    <button class="btn-reset btn header__btn--fill btn--fill flex-all-center">
      <svg class="">
        <use xlink:href="img/sprite.svg#settings"></use>
      </svg>
    </button>

    <hr class="header__line">

    <div class="header__location flex-all-center">
      <svg>
        <use xlink:href="img/sprite.svg#location"></use>
      </svg>

      <span class="header__city">New York/ Dc</span>
    </div>

    <button class="btn-reset btn btn--stroke header__btn--stroke flex-all-center">
      <svg>
        <use xlink:href="img/sprite.svg#notification-icon"></use>
      </svg>
    </button>

    <img class="header__avatar" src="img/user-avatar.png" alt="User Avatar">

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
