<aside class="sidebar">
  <div class="sidebar__container">
    <nav class="nav" title="" data-menu>
      <ul class="list-reset nav__list flex-column">
        <li class="nav__item nav__item--dashboard nav__item--active flex-v-center">
          <img src="img/dashboard.svg" alt="">
          <a href="#" class="nav__link">Dashboard</a>
        </li>

        <li class="nav__item nav__item--notes flex-all-center">
          <img src="img/note.svg" alt="">
          <a href="#" class="nav__link">Note&rsquo;s</a>
        </li>

        <li class="nav__item nav__item--theme flex-all-center">
          <img src="img/moon.svg" alt="">
          <a href="#" class="nav__link">Theme</a>
        </li>

        <li class="nav__item nav__item--account flex-all-center">
          <img src="img/profile-user.svg" alt="">
          <a href="#" class="nav__link">Account</a>
        </li>

        <li class="nav__item nav__item--explore flex-all-center">
          <img src="img/microscope.svg" alt="">
          <a href="#" class="nav__link">Explore</a>
        </li>

        <li class="nav__item nav__item--graph flex-all-center">
          <img src="img/graph.svg" alt="">
          <a href="#" class="nav__link">Graph</a>
        </li>

        <li class="nav__item nav__item--messages flex-all-center">
          <img src="img/sms.svg" alt="">
          <a href="#" class="nav__link">Messages</a>
        </li>

        <li class="nav__item nav__item--setting flex-all-center">
          <img src="img/sidebar-settings.svg" alt="">
          <a href="#" class="nav__link">Setting</a>
        </li>

        <li class="nav__item nav__item--signout flex-all-center">
          <img src="img/logout.svg" alt="">
          <a href="#" class="nav__link">Sign Out</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
