<section class="travel-booking">
  <div class="travel-booking__container">
    <div class="travel-card">
      <div class="travel-card__wrapper">
        <div class="travel-card__top">
          <img class="travel-card__image" src="img/travel-book-1.png" width="395" height="290" alt="Brazil forest image">

          <button class="btn--stroke travel-card__btn flex-all-center">
            <svg class="travel-card__like-icon">
              <use xlink:href="img/sprite.svg#card-heart"></use>
            </svg>
          </button>

          <div class="travel-card__miniatures-wrapper">
            <div class="travel-card__miniatures flex-v-center">
              <img src="img/travel-booking-miniature-1.png" alt="Sunset in the forest" class="travel-card__miniature">
              <img src="img/travel-booking-miniature-2.png" alt="Daytime in the mountains" class="travel-card__miniature">
              <img src="img/travel-booking-miniature-4.png" alt="Japanese Gate" class="travel-card__miniature">
              <img src="img/travel-booking-miniature-3.png" alt="Jungle" class="travel-card__miniature">
            </div>
          </div>
        </div>

        <div class="travel-card__middle">
          <h2 class="travel-card__title">Brazil Forest</h2>
          <p class="travel-card__descr">I&nbsp;spend ten minutes or&nbsp;so&nbsp;doing a&nbsp;couple of&nbsp;Duolingo
            lessons in&nbsp;French&nbsp;so</p>
        </div>
      </div>

      <div class="travel-card__bottom flex-v-center">
        <div class="travel-card__price flex">
          <span class="travel-card__tariff">per/person</span>
          <span class="travel-card__price">$1540</span>
        </div>

        <button class="travel-card__booking-btn">Book Travel</button>
      </div>
    </div>

    <div class="travel-places">
      <ul class="list-reset travel-places__list flex">
        <li class="travel-places__item flex-v-center">
          <img src="img/travel-booking-places-1.png" alt="" class="travel-places__image">

          <div class="travel-places__place">
            <h3 class="travel-places__title">Nature Lake</h3>
            <span class="travel-places__location">Afghanistan</span>
          </div>

          <button class="travel-places__btn flex-all-center">
            <svg class="travel-places__icon">
              <use xlink:href="img/sprite.svg#card-heart"></use>
            </svg>
          </button>
        </li>

        <li class="travel-places__item flex-v-center">
          <img src="img/travel-booking-places-2.png" alt="" class="travel-places__image">

          <div class="travel-places__place">
            <h3 class="travel-places__title">Camel Ride</h3>
            <span class="travel-places__location">Srilanka</span>
          </div>

          <button class="travel-places__btn flex-all-center">
            <svg class="travel-places__icon">
              <use xlink:href="img/sprite.svg#card-heart"></use>
            </svg>
          </button>
        </li>

        <li class="travel-places__item flex-v-center">
          <img src="img/travel-booking-places-3.png" alt="" class="travel-places__image">

          <div class="travel-places__place">
            <h3 class="travel-places__title">Mid Forest</h3>
            <span class="travel-places__location">Brazil</span>
          </div>

          <button class="travel-places__btn flex-all-center">
            <svg class="travel-places__icon">
              <use xlink:href="img/sprite.svg#card-heart"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
